.contactBody {
  background-image: var(--background-image);
  font-family: var(--body);
  width: 100vw;
  min-height: 100%;
}

.contactWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20vh auto;
  position: relative;
  max-width: 52.5rem;
   background: rgba( 255, 255, 255, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 9.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Form */
.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  color: var(--text-color);
  padding: 2.5rem;
  box-sizing: border-box;
}

.formGroup {
  margin-bottom: 1.25rem;
}

.formControlWrapper {
  margin-bottom: 1.25rem;
}

.formControl,
.textarea {
  outline: none;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  letter-spacing: 0.0625rem;
  border: 0.0625rem solid var(--text-color);
  padding: 0.625rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border-radius: 5px;
}
.formControl::placeholder,
textarea::placeholder {
  color: var(--text-color);
  opacity: 1;
}

.submitButton {
  background-color: transparent;
  color: var(--text-color);
  border: 0.0625rem solid var(--text-color);
}


/* Contact Info */
.directContactContainer {
  max-width: 25rem;
  color: var(--text-color);
  padding: 1.25rem;
  box-sizing: border-box;
}

/* Location, Phone, Email Section */
.contactList {
  list-style-type: none;
  margin-left: -1.875rem;
  padding-right: 1.25rem;
}

.listItem {
  line-height: 4;
}

.contactText {
  font: 300 1.125rem;
  letter-spacing: 0.11875rem;
}

.contactText a {
  color: var(--text-color);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contactText a:hover {
  text-decoration: none;
}

/* Social Media Icons */
.socialMediaList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.375rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.socialMediaList li a {
  display: flex;
  color: var(--text-color);
}

.socialMediaList li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  margin: 0.625rem 0.1875rem;
  line-height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.socialMediaList li:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 0.0625rem var(--text-color);
  transition: all 0.2s ease-in-out;
}
.socialMediaList li:hover {
  scale: 1.1;
}

.copyright {
  font: 200 0.875rem;
  color: var(--text-color);
  letter-spacing: 0.0625rem;
  text-align: center;
}

hr {
  border-color: var(--text-color);
}

/* Begin Media Queries */
@media screen and (max-width: 53.125rem) {
  .contactWrapper {
    display: flex;
    flex-direction: column;
  }
  .directContactContainer,
  .contactForm {
    margin: 0 auto;
    padding: 30px;
  }
  .directContactContainer {
    margin-top: 0;
    max-width: 18.75rem;
  }
  .socialMediaList li {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
  }
  .socialMediaList li:after {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
  }
  .listItem {
    text-align: center;
  }
}

@media screen and (max-width: 35.5625rem) {
  .directContactContainer,
  .formWrapper {
    float: none;
    margin: 0 auto;
  }
  .formControl,
  textarea {
    width: 100%;
  }
  .directContactContainer {
    max-width: 100%;
  }
  .socialMediaList li {
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    font-size: 2rem;
  }
  .socialMediaList li:after {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }
}
