.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    z-index: 10;
    position: fixed; /* Changed to relative for proper stacking */
    width: 100vw; /* Full width of the viewport */
    flex-direction: column;
    overflow: hidden;
    top: 0;
    left: 0;
}

.spline {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 0;
    transform: scale(1.5); /* Scale to zoom in */
    transform-origin: 60rem 40rem;
    background: url('https://res.cloudinary.com/dk22rcdch/image/upload/v1616140344/spline_bg_1_2x_1_2x.png') no-repeat center center/cover;
}

.title {
    position: absolute;
    top: 40%; /* Centered for larger screens */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw; /* Responsive font size */
    font-weight: bold;
    color: white;
    z-index: 10;
    margin-bottom: 20px;
}

.explorebtn {
    position: absolute;
    top: 55%; /* Centered for larger screens */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-size: 1.4vw; 
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}



/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .title {
        top: 30%; /* Adjust position for smaller screens */
        font-size: 7vw; /* Adjust font size for smaller screens */
    }

    .explorebtn {
        top: 45%; /* Adjust position for smaller screens */
        padding: 10px 20px; /* Adjust padding for smaller screens */
        font-size: 4vw; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 8vw; /* Even smaller font size for very small screens */
    }
    .spline{
        display: none; 
    }

    .explorebtn {
        font-size: 6vw; /* Adjust font size for very small screens */
        padding: 8px 15px; /* Adjust padding for very small screens */
    }
}